.categories {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;

}
.title {
  margin-top: 10px;
  font-size: 30px;
}
.title-categories {
  margin-right: 10px;
  width: 250px;
}
.show-categories{
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Cria 7 colunas de tamanho igual */
  gap: 10px; /* Espaço entre os itens */
  margin: 10px;
  width: 100%;
  list-style: none;
  padding: 0;
}

.category-name{
  font-size: 18px;
  font-weight: bold;
  color: #0e0e0e;
  text-align: center;

}

.delete-button{
    color: black;
    border : none;
    cursor: pointer;
    background: none;
}
